{% extends 'base.html' %}
.ml-1 {
    margin-left: ($spacer * .55) !important;
  }
  
{% block new_post %}

<br>

<div class="ml-5">
    <form action="{% url 'add' %}" method="POST">

        {% csrf_token %}
    
        <label for="title">Title</label>
        <input type="text" name = "title" id = "title">
        <br><br>
    
        <label for="text">Text</label>
        <textarea type="text" name = "text" id = "text", rows="10" col="90"></textarea>
        <br><br>
    
        <input class="ml-5" type="submit" value="Potvrdi">
    
    </form>

</div>


{% endblock %}

