{% extends 'base.html' %}

{% block details %}

<br><br>
<a href="{% url 'index' %}">HOME</a>
<a href="{% url 'admin' %}">Admin</a>
<a href="{% url 'add' %}">New Post</a>




<ul>
    <br>
    <li>{{ one.title }}</li>
    <li>{{ one.text }}</li>
    <li>{{ one.created }}</li>
</ul>
{% endblock %}