{% extends 'base.html' %}


{% block content %}

<br><br>

{% for post in all_posts %}
<ul>
    <li><a href="details/{{ post.id }}">{{ post.id }} : {{ post.title }} : {{ post.text }}</a></li>
</ul>
{% endfor %}

{% endblock %}


